header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    box-shadow: var(--header-shadow);
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.logo {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 35px;
    min-height: 50px;
    width: 55px;
}

nav {
    margin: auto 0;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu li {
    position: relative;
    transition: all .7s ease-in-out;
}

.menu li:hover {
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px 10px 10px 45px;
}

.text {
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    display: inline-block;
    transform: translateY(-300%);
    animation: textTransformBack 1s ease-in-out;
    cursor: pointer;
    color: var(--black);
}

.menu li:hover .text {
    opacity: 1;
    animation: textTransform 1s ease-in-out;
    transform: translateY(0);
}

.icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s ease-in-out;
}

.menu li:hover .icon {
    left: 0;
}

.stopwatch {
    text-align: center;
    background-color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    font-family: monospace;
    font-size: 21px;
    margin-bottom: 20px;
    color: var(--dark-grey);
    margin: auto 0;
}

.stopBtn {
    background: var(--primary-color);
    color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all .4s ease-in-out;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.stopBtn:hover {
    background: var(--white);
    color: var(--primary-color);
}

@keyframes textTransformBack {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-300%);
        opacity: 0;
    }
}

@keyframes textTransform {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(0);
    }
}