/* Basic colors */
:root {
    --white: #ffffff;
    --black: #000000;
    --green: green;
    --red: red;
}

/* Primary colors */
:root {
    --primary-white: #e0e5ec;
    --primary-grey: #777;
    --primary-black: #2b3035;
    --primary-opacity-black: #212529c7;
    --primary-blue: #2196F3;
}

/* Primary fond family */
:root {
    --primary-font-family: "Montserrat Alternates", sans-serif;
}

/* Secondary colors */
:root {
    --secondary-blue: #007bff;
    --secondary-grey: #535353;
    --dark-grey: #333;
    --secondary-white: #e7f5ff;
    --secondary-black: #282828;

    --error-color: var(--red);
    --success-color: var(--green);

    --close-btn-color: #dc3545;
}

/* Shadows */
:root {
    --shadow-grey: #bec3c9;
    --profile-shadow: rgba(0, 0, 0, 0.102);

    --header-shadow: 0 10px 20px rgba(0, 150, 255, 0.5),
        0 -5px 15px rgba(255, 255, 255, 0.3);
}

/* Backgrouns */
:root {
    --popup-content-bg: #dee2e6;
    --badge-bg: #0080ffb9;
    --rating-bg: #ffffffcc;
    --slider-bg: #eee;
    --select-hover-bg: #0d6efd40;
    --profile-bg: #f0f2f5;
    --avatar-bg: #e9ecef;
    --avatarBtn-hover-bg: #0056b3;
}

/* Rotating */
:root {
    --small-rotate-deg: 45deg;
    --big-rotate-deg: 135deg;
}

/* Slider */
:root {
    --select-border: #ced4da;
    --select-border-hover: #86b7fe;
}

/* Profile colors */
:root{
    --info-h2-color: #343a40;
    --info-p-color: #6c757d;
    --border-color: #dee2e6;
}

/* General button styles */
button {
    cursor: pointer;
}

/* Basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}